/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: Raleway;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    background-color: #fffcf4;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/https://dxcenter.org.vn/wp-content/uploads/2022/05/fd381209-marketing-giao-duc.jpg);
    height: auto;
    background-size: cover;
    position: relative;
}

.bg-light {
    background-color: #021239 !important;
}

.navbar {
    padding: .5rem 100px;
}

.logo {
    width: 10%;
    float: left;
    margin-right: 155px;
    position: relative;
    top: 55px;

}

.logo>img {
    border-radius: 15%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
    color: #fffcf4;
    font-size: 18px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #e8531f;
}

.banner_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 66px;
    color: #fffcf4;
    font-weight: 600;
    padding-top: 100px;
    font-family: 'Montserrat';
}

.btn_main {
    width: 100%;
    float: left;
    margin-top: 100px;
    margin-bottom: 127px;
    font-family: 'Montserrat';
}

.sign_in {
    width: 200px;
    float: left;

}

.sign_in a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;

}

.sign_in a:hover {
    color: #ffffff;
    background-color: #e8531f;
}

.contact_bt {
    width: 200px;
    float: left;
    margin-left: 15px;
}

.contact_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
}

.contact_bt a:hover {
    color: #ffffff;
    background-color: #e8531f;
}

.contact_bt.active a {
    color: #ffffff;
    background-color: #e8531f;
}

#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-next:focus {
    background-color: #e8531f;
    color: #ffffff;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 1030px;
    top: 67%;
    background-color: #e8531f;
}

#main_slider a.carousel-control-next {
    position: absolute;
    right: 170px;
    top: 67%;
}

#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
    width: 68px;
    height: 68px;
    background: #111111;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 100%;
}

.about_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.about_main {
    padding-left: 100px;
    padding-top: 90px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #191919;
    text-transform: uppercase;
    font-weight: 700;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #090808;
    margin-left: 0px;
    font-family: 'Montserrat';
}

.contact_bt a:hover {
    color: #ffffff;
    background-color: #e8531f;
}

.about_bt {
    width: 180px;
    float: left;
    margin-top: 30px;
}

.about_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #f9f9f9;
    background-color: #e8531f;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
}

.about_bt a:hover {
    color: #f9f9f9;
    background-color: #111111;
}

.about_img {
    width: 100%;
    float: left;
}

/* .about_img::after {
    content: '';
    position: absolute;
    background-color: #efefef;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    left: initial;
    right: -120px;
    z-index: -1;
    border-radius: 100%;
    top: -40px;
} */

.services_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.services_section:after {
    content: '';
    position: absolute;
    background-color: #efefef;
    width: 630px;
    height: 600px;
    border-radius: 520px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
}

.services_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 70px;
}

.services_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #090a0b;
    text-align: center;
    margin: 0px;
}



.box_middle {
    width: 27%;
    float: left;
    margin: 0px 15px;
}

.see_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.see_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #e8531f;
    padding: 8px 5px;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
}

.see_bt a:hover {
    color: #ffffff;
    background-color: #111111;
}


.padding_left_10 {
    padding-left: 10px;
}

.long_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #090a0b;
    margin: 0px;
    padding-top: 20px;
}

.image_2 {
    width: 35%;
    float: left;
    top: -35px;
    position: absolute;
}



.project_section {
    width: 100%;
    float: left;

}

.project_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #191919;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.project_menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}



.image_3 {
    width: 100%;
    float: left;
    text-align: center;
}

.philosophy_section {
    width: 100%;
    float: left;
    font-family: 'Montserrat';
}

.philosophy_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #191919;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.philosophy_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #090a0b;
    text-align: center;
    margin: 0 auto;
}

.philosophy_section_2 {
    width: 100%;
    float: left;
}

.image_7 {
    width: 80%;
    margin-left: 80px;
    margin-top: -20px;
}

.philosophy_box {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.philosophy_box_main {
    width: 85%;
    float: left;
    margin-left: 100px;
    border: 2px solid #6e6d6a;
    padding: 0px 20px 20px 50px;
}

.philosophy_left {
    width: 30%;
    float: left;
}

.philosophy_right {
    width: 70%;
    float: left;
}

.number_text {
    width: 55%;
    float: left;
    font-size: 30px;
    text-align: center;
    background-color: #e8531f;
    color: #fffcf4;
    border-radius: 10px;
    padding: 20px 0px;
}

.quick_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #090a0b;
    font-weight: 500;
    padding-top: 20px;
}

.image_6 {
    width: 100%;
    float: left;
    position: relative;
    height: 350px;
    margin-top: 50px;

}

.image_6_1 {
    width: 100%;
    float: left;
    position: relative;
    height: 350px;
    margin-top: 60px;
}

.reader_text {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 26px;
    position: absolute;
    bottom: 10px;
    padding: 20px;
}









.project_section_3 {
    width: 100%;
    float: left;
    font-family: 'Montserrat';
}

.contact_section {
    width: 100%;
    float: left;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.contact_section_2 {
    width: 100%;
    float: left;
    background-color: #efefef;
    height: auto;
    padding: 40px 0px;
    margin-top: 50px;
}

.reader_text1 {
    color: #090808;
    font-size: 20px;
    font-family: 'Montserrat';
}

.mail_section {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.input_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #1e1e1e;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 35px;
    height: auto;
    padding: 10px 35px 10px 20px;
    border: none;
}

input.input_text::placeholder {
    color: #1e1e1e;
}

.massage_box {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #1e1e1e;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 35px;
    height: auto;
    padding: 10px 35px 10px 20px;
    border: none;
}

textarea.massage_box::placeholder {
    color: #1e1e1e;
}

.send_text {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.send_text a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    background-color: #021239;
    text-align: center;
    padding: 8px 10px;
    font-weight: bold;
}

.send_text a:hover {
    color: #000;
    background-color: #ffffff;
}

.newslatter_section {
    width: 100%;
    float: left;
    background-color: #e8531f;
    padding: 30px 0px;
    height: auto;
}

.newslatter_main {
    width: 100%;
    display: flex;
}

.looking_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #fffcf4;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10px;
}



.client_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
    font-family: 'Montserrat';
}

.client_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.client_text {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    color: #090a0b;
    text-align: center;
    font-weight: 500;
}

.client_section_2 {
    width: 100%;
    float: left;
}

.client_main {
    width: 100%;
    float: left;
}

.client_left {
    width: 30%;
    float: left;
}

.client_right {
    width: 70%;
    float: left;
}

.client_img {
    width: 100%;
    float: left;
    text-align: center;
}

.henrry_name {
    width: 100%;
    float: left;
    font-size: 26px;
    color: #0b0e13;
    text-align: center;
    font-weight: 700;
    padding-top: 15px;
}

.henrry_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #e07c06;
    text-align: center;
    font-weight: 700;
}

.lorem_text {
    width: 95%;
    float: left;
    font-size: 16px;
    color: #1c1c1b;
    margin: 0px;
    background-color: #fffcf4;
    padding: 40px;
    box-shadow: 0px 6px 70px 1px #efefef;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.carousel-indicators .active {
    background-color: transparent !important;
    border: 3px solid #e07c06;
    padding: 10px;
    top: -6px;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: #e07c06;
    border-radius: 100px;
}

.footer_section {
    width: 100%;
    float: left;
    background-color: #021239;
    height: auto;
    padding: 70px 0px 50px 0px;
}

.map_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
}

.map_text a {
    color: #ffffff;
}

.map_text a:hover {
    color: #ffffff;
}

.image_main {
    height: auto;
    min-width: 75px;
    max-width: 75px;
}

.footer_section.layout_padding a {
    display: flex;
    align-items: center;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #e8531f;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    margin-left: 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #000;
}

.margin_top_90 {
    margin-top: 90px;
}

.margin_90 {
    margin: 90px 0px;
}

.container__sidebar-left {
    width: 23%;
    padding-left: 15px;
    padding-top: 18px;
    height: 100%;
    position: fixed;
    overflow-y: hidden;
    padding-bottom: 100px;
    z-index: 1;
    background: var(--primary-color);
}

.container__sidebar-left:hover {
    overflow-y: scroll;
}

.container__sidebar-left::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}

.container__sidebar-left::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    transition: all 0.55s linear;
}

.container__sidebar-left-list {
    list-style: none;
    padding-bottom: 16px;
}

.container__sidebar-left-list:first-child {
    border-bottom: 1px solid #dcdee2;

}

.container__sidebar-left-item {
    padding: 8px;
    border-radius: 5px;
    transition: ease .2s;
}

.container__sidebar-left-item:hover {
    background-color: var(--primary-color);
    filter: brightness(95%);
}

.container__sidebar-left-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text);
}

.container__sidebar-left-link span {
    font-weight: 500;
    margin-left: 14px;
    font-size: 15px;
}

.container__sidebar-left-img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
}

.container__sidebar-left-img-down {
    background-color: #e4e6eb;
}

.container__sidebar-left-heading-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__sidebar-left-heading {
    color: var(--sub-text);
    font-weight: 500;
    font-size: 17px;
    padding-left: 10px;
    margin: 14px 0;
    display: block;
}

.container__sidebar-left-fix {
    text-decoration: none;
    color: var(--primary-btn);
    font-size: 15px;
    display: none;
    padding: 8px;
    border-radius: 5px;
}

.container__sidebar-left-fix:hover {
    background-color: var(--primary-color);
    filter: brightness(95%);

}

.container__sidebar-left-list:hover .container__sidebar-left-fix {
    display: block;
}

.container__sidebar-left-footer {
    font-size: 12px;
    color: var(--sub-text);

}

.container__sidebar-left-footer-link {
    text-decoration: none;
    color: var(--sub-text);

}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.content {
    margin-left: 220px;
    padding: 20px;
    background-color: #ffffff;
}

.header_section {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-icon {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-icon .logo img {
    width: 50px;
}

.navbar-icon .navbar-nav .nav-link {
    font-size: 16px;
    padding: 8px 15px;
}

.navbar-icon .navbar-toggler-icon {
    background-image: url('path/to/icon.png');
}

.footer_section {

    bottom: 0;


}



.about_section1 {
    width: 100%;
    float: left;

}

.content-wrap {
    display: flex;
}

/* Thiết kế sidebar */
.sidebar {
    list-style: none;
    display: block;
    width: 250px;
    background-color: #f1e5e5;
    padding: 20px;
    margin-top: -180px;
    margin-bottom: -50px;
}

.sidebar img {
    height: 200px;
    width: 230px;
    margin-bottom: 20px;
}

.sidebar ul>li {
    list-style: none;
}

/* Thiết kế nội dung trang web */
.content {
    padding: 20px;
    margin-left: 40px;
    margin-top: -180px;
}

.tintuc {
    display: flex;
    gap: 5px;
    padding-bottom: 10px;


}

.tintuc>img {
    width: 300px;
    height: 170px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #efe7e7;
    border: none;


    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.image-text-wrapper {
    display: flex;
    align-items: center;
}

.image-text-wrapper>img {
    border-radius: 50%;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.text-wrapper {
    flex: 1;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

.button {
    flex-basis: calc(33.33% - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.post {
    margin-left: 97px;
    width: 650px;
}

.column>h4 {
    margin-left: 97px;
}

.box {
    width: 900px;
    height: auto;
    margin-left: 120px;
}

.thinking-status {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.thinking-status-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.thinking-status-body textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.thinking-status-footer button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    margin-left: 650px;
}

.news {
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 250px;
    font-size: 250%;


}

#active {
    margin-top: 50px;
}

.image_avt>img {
    border-radius: 50%;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.image_avt img,
.image_avt .text-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: -5px;
    margin-bottom: 20px;
}

.image_avt>h4 {
    margin-left: -10px;
}

.content-detail {
    margin-bottom: 20px;
}

.search-box button[type="submit"] {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.search-box button[type="submit"] i {
    color: #007bff;
    font-size: 18px;
}

.disabled {
    background-color: #ccc !important;
}

/* --------------------------------------------------------------------------- */

swiper-container {
    width: 100%;
    height: 100%;

}

swiper-slide {
    text-align: center;
    font-size: 18px;

    /* background-image: url(/Webgdgt/html/images/ab.webp); */

    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide {
    height: 600px;
    width: block;
    margin-top: -160px;
}

.formabout {
    width: 70%;
    height: 95%;
    background-color: rgba(243, 236, 236, 0.5);
    border-radius: 8%;

}

.formabout>h1 {
    display: block;
    text-align: center;
    padding: 80px;
    padding-top: 150px;
    line-height: 50px;
    color: #1f1e1e;
}

.format {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 100%;
    background-color: rgba(238, 227, 227, 0.5);

}

.format>h1 {
    display: block;
    text-align: center;
    padding: 80px;
    padding-top: 150px;
    line-height: 50px;
    color: #fffcfc;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: #f0f0f0;
}

/* ------------------------------------------------------------------ */

.container_dung {
    width: 100%;
    height: auto;


}

.box_dung {
    float: right;
    width: 30%;
    height: 500px;
    background-color: rgba(243, 236, 236, 0.1);
    border-radius: 25%;
    margin-right: 70px;
    margin-bottom: 100px;

}

.box_dung img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content_dung {
    float: left;
    width: 45%;
    height: 200px;

    margin-left: 200px;
    margin-top: 40px;
}

.content_dung>h1 {
    font-size: 24px;
    margin-bottom: 3px;
}

.content_dung>p {
    font-size: 16px;
    line-height: 2;
}

/* --------------------------------------------------------------------- */

.container_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.Tieu h1 {
    font-size: 36px;
    margin: 0;
    color: #333;
    margin-bottom: 30px;
}

/* -------------------------------------------------------------------- */
.container_boxes {
    display: flex;
    width: 90%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    margin-left: 20px;

}

.box_hd {
    width: calc(30% - 20px);
    margin: 10px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(245, 224, 224, 0.4);
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.box_hd h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.box_hd p {
    font-size: 16px;
    line-height: 1.5;
}

.image_container {
    width: 100%;
    text-align: center;
}

.image_container img {
    max-width: 100%;
    height: 350px;

}

.text_container {
    text-align: center;
}


.text_container p {
    font-size: 26px;
    line-height: 1.5;
}

@media only screen and (max-width: 992px) {
    .banner_taital {
        margin-top: 200px;
    }
}

@media only screen and (max-width: 772px) {
    .about_section {

        padding-bottom: 0px;
    }
}

.image_6 {
    border-radius: 10px;
}

.philosophy_box_main {
    border-radius: 10px;
}

.container1 {
    background-color: #ddddda;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 600px;
}

.text1 {
    margin-left: 70px;
    margin-right: 150px;
}

.text1>p {
    line-height: 2;
    font-size: 20px;
}

.image1 {
    margin-right: 70px;
    margin-top: 250px;
    width: 150%;
    height: 100%;
    border-radius: 25%;


}

@media (max-width: 1200px) {
    .container1 {
        flex-direction: column;
        margin-top: 700px;

        height: 100%;
    }

    .text1 {


        text-align: center;
    }

    .image1 {

        text-align: center;
        margin-bottom: 100px;

    }
}

@media screen and (max-width: 1200px) {
    .slide {
        height: 400px;
        margin-top: -100px;
    }

    .formabout {
        width: 90%;
        margin: 0 auto;
        padding: 40px;
    }

    .formabout>h1 {
        padding: 40px;
        padding-top: 80px;
        font-size: 24px;
        line-height: 40px;
    }

    .format {
        position: static;
        width: 100%;
        height: auto;
        background-color: rgba(238, 227, 227, 0.5);
        padding: 40px;
    }

    .format>h1 {
        padding: 40px;
        padding-top: 80px;
        font-size: 24px;
        line-height: 40px;
        color: #1f1e1e;
    }
}

@media screen and (max-width: 768px) {
    .container_dung {
        display: flex;
        flex-direction: column;
    }

    .box_dung {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 20px;
        border-radius: 0;
    }

    .box_dung img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .content_dung {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 20px;
    }

    .content_dung>h1 {
        font-size: 18px;
        margin-bottom: 3px;
    }

    .content_dung>p {
        font-size: 14px;
        line-height: 1.5;
    }

    .slide {
        height: 300px;
        margin-top: -50px;
    }

    .formabout {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
    }

    .formabout>h1 {
        padding: 20px;
        padding-top: 40px;
        font-size: 18px;
        line-height: 30px;
    }

    .format {
        position: static;
        width: 100%;
        height: auto;
        background-color: rgba(238, 227, 227, 0.5);
        padding: 20px;
    }

    .format>h1 {
        padding: 20px;
        padding-top: 40px;
        font-size: 18px;
        line-height: 30px;
        color: #1f1e1e;
    }
}






/* Responsive Contact+About*/

@media screen and (max-width: 768px) {
    .container_boxes {
        height: 100%;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0;
    }

    .box_hd {
        width: calc(50% - 20px);
        margin: 10px 0;
    }
    
.image_container {
    width: 100%;
    text-align: center;
}

.image_container img {
    max-width: 100%;
    height: 350px;

}

.text_container {
    text-align: center;
}


.text_container p {
    font-size: 26px;
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    margin-left: 70px;
    margin-right: 50px;
}

.image {
    margin-right: 70px;
    margin-left: 50px;

}
}


/* ------------------------------- */

@media screen and (max-width: 1200px) {
    .container_dung {
        display: flex;
        flex-wrap: wrap;
    }

    .box_dung {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 20px;
        border-radius: 0;
    }

    .box_dung img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .content_dung {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 20px;
    }

    .content_dung>h1 {
        font-size: 24px;
        margin-bottom: 3px;
    }

    .content_dung>p {
        font-size: 16px;
        line-height: 2;
    }
}

.input_text{
    border-radius: 10px;
}
.massage_box{
    border-radius: 10px;
}
.send_text{
    border-radius: 10px;
}
